.sidebar-container {
    width: 200px;
    min-height: 100vh;
    background: #2A2D37;
}
.app-logo {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141519;
}
.margin-l-20 {
    margin-left: 20px;
}
.logo-text {
    color: white;
    font-size: 19px;
}
.user-info {
    width: 200px;
    height: 200px;
    background: #21242C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-email {
    color: white;
    font-size: 14px;
    margin-top: 20px;
}
.userIcon {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.icon-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.custom-icon {
    color: #747D82;
}
.custom-selected-icon{
    color: #36A5D3;
}
.category-view {
    margin-top: 10px;
}
.global-text {
    color: #D1D4D7;
    font-size: 15px;
    font-weight: lighter;
    margin-left: 20px;
}
.global-selected-text {
    color: #D1D4D7;
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}
.global-group {
    margin-left: 20px;
}
.global-project {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
    cursor: pointer;
}
.dashboard-container {
    display: flex;
    flex-direction: row;
}
.project-container {
    
}