.sidebar-container {
    width: 200px;
    min-height: 100vh;
    background: #2A2D37;
}
.app-logo {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141519;
}
.no-padding {
    padding: 0px;
}
.margin-l-5 {
    margin-left: 5px;
}
.margin-l-10 {
    margin-left: 10px;
}
.margin-l-20 {
    margin-left: 20px;
}
.logo-text {
    color: white;
    font-size: 19px;
}
.user-info {
    width: 200px;
    height: 200px;
    background: #21242C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-email {
    color: white;
    font-size: 14px;
    margin-top: 20px;
}
.userIcon {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.icon-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.custom-icon {
    color: #747D82;
}
.custom-selected-icon{
    color: #36A5D3;
}
.category-view {
    margin-top: 20px;
}
.global-text {
    color: #D1D4D7;
    font-size: 15px;
    font-weight: lighter;
    margin-left: 10px;
}
.global-selected-text {
    color: #D1D4D7;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
}
.global-group {
    margin-left: 10px;
}
.global-project {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
    cursor: pointer;
}
.dashboard-container {
    display: flex;
    flex-direction: row;
}
.project-container {
    width: calc(100% - 200px);
    background: #E4E5E6;
}
.custom-breadcrumb {
    height: 50px;
    background: #ffffff;
    display: flex;
    align-items: center;
}
.breadcrumb-text {
    color: #3CB8DF;
}
.project-content {
    padding-left: 20px;
    padding-right: 20px;
}
.myproject-title {
    color: #6A767E;
    font-size: 20px;
    font-weight: bold;
}
.one-project-view {
    width: 300px;
    height: 150px;
    background: #FFFFFF;
    border: 1px solid #D1D4D7;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px; 
}
.project-header {
    height: 50px;
    background: #F8F9FA;
    border-bottom: 1px solid #D1D4D7;
    display: flex;
    align-items: center;
}
.header-title {
    color: #38ABD9;
    font-size: 17px;
    margin-left: 10px;
}
.project-button {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.visit-button {
    width: 80px;
    background: #ffffff;
    border: 1px solid #CCCCCC;
    border-radius: 0px;
}
.breadcrumb-item {
    display: inline-block;
    margin-right: 5px;
}
li.breadcrumb-item+li.breadcrumb-item:before {
    content: "/\A0";
    padding: 0 5px;
    color: #ccc;
}
li.breadcrumb-item+li.breadcrumb-item a{
    display: inline-block;
}
.project-side-view {
    margin-top: 10px;
    width: 200px;
}
.project-side-title {
    color: #D1D4D7;
    font-size: 17px;
    margin-left: 10px;
    width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.cursor-pointer {
    cursor: pointer;
}